.experiences {
  margin-top: 80px;
}

.experiences h2 {
  font-size: 48px;
  color: #141414;
  margin-bottom: 40px;
}

.experiences p {
  color: #525252;
  font-size: 20px;
}

.experiences span {
  color: #141414;
  font-weight: bold;
}

.experiences .item {
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 10px;
}

.experiences .item h3,
h4 {
  font-size: 18px;
}

.experiences .item p {
  font-size: 14px;
}

.experiences .item ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.experiences .item ul li {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .experiences {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
  }

  .experiences h2 {
    font-size: 144px;
    word-break: break-all;
    color: #e0e0e0;
    text-transform: uppercase;
  }

  .experiences .item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    position: relative;
  }
}
