.experiences__container {
  margin-top: 50px;
  padding: 20px;
}

.experiences__container h2 {
  font-family: 'Fira Sans Bold';
  font-size: 32px;
  margin-bottom: 30px;
}

.experiences p {
  font-size: 24px;
}

.experiences span {
  font-weight: bold;
  text-transform: uppercase;
}

.item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
}

.item h3, h4 {
  font-family: 'Fira Sans Bold';
  font-size: 18px;
}

.item p {
  font-size: 14px;
}

.item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item ul li {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .experiences__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .experiences__container h2 {
    font-size: 144px;
    word-break: break-all;
    text-transform: uppercase;
  color: #E0E0E0;

  }

  .experiences .item {
    display: grid;
    grid-template-columns: auto 2fr;
  }

  .experiences .item h4 {
    text-align: right;
  }

  .experiences .item p {
    max-width: 325px;
  }

  .experiences .item ul {
    justify-content: right;
    align-items:flex-start;
    flex-wrap: wrap;
  }

  .experiences .item ul li {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .experiences__container h2 {
    max-width: 350px;
  }
}