footer {
  background-color: black;
  padding: 40px;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

footer p {
  color: #CCCCCC;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__content a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer span {
  display: block;
  margin-top: 20px;
  color: #CCCCCC;
}

@media screen and (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  footer p {
    max-width: 50%;
  }

  .footer__content {
    margin-left: 50%;
    text-align: right;
  }

}