.formation__container {
  padding: 40px;
  margin-top: 30px;
  background-color: #141414;
}

.formation__container h2 {
  font-family: 'Fira Sans Bold';
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;
}

.formation p {
  font-size: 24px;
  color: #A3A3A3;
}

.formation span {
  color: #A3A3A3;
  text-transform: uppercase;
}

.formation .item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #000;
  border-radius: 5px;
  padding: 20px;
}

.formation .item h3, h4 {
  font-family: 'Fira Sans Bold';
  font-size: 18px;
}

.formation .item h3 {
  color: #A3A3A3;
}

.formation .item h4 {
  color: #fff;
}

.item p {
  font-size: 14px;
}

.formation .courses {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.formation .courses h3 {
  color: #8F8F8F;
}

.formation .languages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.formation .languages h3 {
  color: #8F8F8F;
}

.formation span {
  text-transform:capitalize;
}

.formation .courses p {
  color: #fff;
}

.formation .languages p {
  color: #fff;
}

.courses__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 20px;
}

.languages {
    margin-top: 20px;
}

.languages__content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}


@media screen and (min-width: 1024px) {
  .formation__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .formation__container h2 {
    font-size: 144px;
    word-break: break-all;
    text-transform: uppercase;
    color: #000;
  }

  .item__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .formation .item {
    display: flex;
    background-color: #000;
    max-width: 200px;
    
  }

  .formation .item p {
    max-width: 520px;
  }

  .formation .item h3 {
    color: #A3A3A3;
  }

  .formation .item h4 {
    color: #fff;
  }

  .formation .item p {
    max-width: 325px;
  }

  .formation .item ul {
    justify-content: right;
    align-items:flex-start;
    flex-wrap: wrap;
  }

  .formation .item ul li {
    display: block;
  }

  .courses__content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto;
  }

  .courses__content hr {
    display: none;
  }

  .languages hr {
    display: none;
  }

  
}

@media screen and (min-width: 1440px) {
  .formation__container h2 {
    max-width: 350px;
  }
}