.formation__container {
  margin-top: 70px;
  background-color: #141414;
}

.formation__container h2 {
  font-family: 'Fira Sans Bold';
  font-size: 32px;
  margin-bottom: 30px;
}

.formation p {
  font-size: 24px;
  color: #A3A3A3;
}

.formation span {
  color: white;
  text-transform: uppercase;

}

.item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
}

.item h3, h4 {
  font-family: 'Fira Sans Bold';
  font-size: 18px;
}

.item p {
  font-size: 14px;
}

.item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item ul li {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .formation__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .formation__container h2 {
    font-size: 144px;
    word-break: break-all;
    text-transform: uppercase;
    color: #000;
  }

  .formation .item {
    display: grid;
    grid-template-columns: auto 2fr;
  }

  .formation .item h4 {
    text-align: right;
  }

  .formation .item p {
    max-width: 325px;
  }

  .formation .item ul {
    justify-content: right;
    align-items:flex-start;
    flex-wrap: wrap;
  }

  .formation .item ul li {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .formation__container h2 {
    max-width: 350px;
  }
}