@font-face {
  font-family: "Fira Sans Regular", Arial, sans-serif;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Bold", Arial, sans-serif;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Regular";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  padding: 0 20px;
}

main {
  padding: 0 20px;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    padding: 50px 100px;
  }

  main {
    padding: 0 100px;
  }
}
