header {
  text-align: center;
  margin-top: 20px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav ul li a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  color: #141414;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  header nav {
    display: flex;
    align-items: flex-end;
  }

  header nav ul {
    margin-top: 0px;
    gap: 50px;
  }

  header nav ul li a {
    background-color: transparent;
    padding: 0;
  }

  header nav ul li a:hover {
    font-weight: bold;
  }
}
